body {
    /* COLOR SECTION */
  background-color: rgb(80, 95, 145);
    /* SIZE SECTION */
  width: auto;
  height: 150vh;
    /* TO GET COMPLETE SPACE OF SITE */
  margin: 0; 
  padding: 0;

    /* DOTS */
  background-image: url(images/background/background_spaced_dots.png);
  background-size: 3vw;

}

button:hover {
  border: 10px solid black ;
  border-style: double;
}

button:active {
  transform: scale(0.95);
}

/* TOP SECTION / HEADER */

.container_header_top {
    position: fixed;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #323c64 ;

    width: 100vw ;
    max-width: 100% ;
    height: 8vh ;
    max-height: 100%;
    
}

.header_top_fake {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw ;
    max-width: 100% ;
    height: 8vh ;
    max-height: 100%;

    margin-bottom: 4% ;
    
}


.header_top_button {
    display: flex;
    flex-wrap: wrap;

    /* FOR THE TEXT */
    align-content: center;
    justify-content: center;

    background-color: #646464 ;
    width: 10% ;
    height: 80% ;

    margin-right: 5%;
    margin-left: 5%;
    
}

.header_top_button_text {
    color: wheat;
    font-size: 130% ;
}

/* ABOUT ME SECTION / INTRO SECTION START */

#container_tab_1 {
    display: block;
}

.container_about_me_box {
    display: flex;
    justify-content: center;

    width: fit-content ;
    height: 100% ;
}

.about_me_box {
    display: flex;
    flex-wrap: wrap;

    /* FOR THE TEXT */
    align-content: flex-start;
    justify-content: flex-start;

    background-color: #646464 ;
    width: 25% ;
    height: 100% ;
    
   /*  margin-left: 15% ; */
}

.container_about_me_box_text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5%;
}

.header_about_me_box_text {
    color: wheat;
    font-size: 170% ;
}

.about_me_box_text {
    color: wheat;
    font-size: 130% ;
}

.about_me_line {
    display: flex;
    flex-wrap: wrap;

    /* FOR THE TEXT */
    align-content: flex-start;
    justify-content: flex-start;

    background-color: wheat;

    width: 45% ;
    height: 1% ;
}

.container_about_me_pl {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 10% ;
}

.about_me_picture {

    width: 25vw ;
    height: 50vh ;
    border-radius: 50% ;
    background-color: royalblue;

    background-image: url(images/profile_picture.jpg);
    background-size: cover;
    box-shadow: black 0vw 0vw 5vw;
}

.about_me_links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #646464 ;
    width: 120% ;
    height: 15% ;

    margin-top: 10% ;

    padding-left: 15% ;
    padding-right: 15% ;
}

.contact_button_1 {
    display: inline-block;
    height: 80% ;
    width: 80% ;
    background-image: url('images/icons/contact_icon_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_1:hover {
    display: inline-block;
    background-image: url('images/icons/contact_icon_1_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.95);
}

.contact_button_2 {
    display: inline-block;
    height: 80% ;
    width: 80% ;
    background-image: url('images/icons/contact_icon_2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_2:hover {
    display: inline-block;
    background-image: url('images/icons/contact_icon_2_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_3 {
    display: inline-block;
    height: 80% ;
    width: 80% ;
    background-image: url('images/icons/contact_icon_3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_3:hover {
    display: inline-block;
    background-image: url('images/icons/contact_icon_3_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_4 {
    display: inline-block;
    height: 80% ;
    width: 80% ;
    background-image: url('images/icons/contact_icon_4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_button_4:hover {
    display: inline-block;
    background-image: url('images/icons/contact_icon_4_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* ABOUT ME SECTION / INTRO SECTION END */

/* TIMELINE SECTION START */

#container_tab_2 {
    display: none;
}

.container_timeline_tutorial_box {
    display: flex;
    justify-content: center;
}

.timeline_tutorial_box {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    background-color: #646464 ;
    width: 60%;
    height: 60%;

    margin-bottom: 5%;
    
}

.container_timeline_tutorial_box_text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 2%;
}

/* TIMELINE LINE */

.container_timeline_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40px;
    height: 80vh;

    margin-left: 20%;
}

.timeline_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.timeline_circle {
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
    background-color: black;
    flex-shrink: 0;
}

.timeline_content {
    margin-left: 20px;
    font-size: 130%;
}

.timeline_box {

    background-color: #646464 ;
    width: 10vw ;
    height: 10vh ;

    margin-top: 5% ;
    margin-bottom: 5% ;
    
}

.timeline_year_text {
    background-color: wheat ;
    padding: 2%;

    color: black ;
    margin-right: 20px;
    font-size: 200% ;
    font-weight: bold;

    width: 22vw;
    min-width: 22vw;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}
